<!-- blog/templates/blog/login.html -->
{% comment %} {% extends 'blog/base.html' %} {% endcomment %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="auth-link">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
{% endblock %}