# ASGI support
asgiref==3.9.1

# HTTP libraries
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
requests==2.32.4
urllib3==2.5.0

# Django and core extensions
Django==5.2.4
sqlparse==0.5.3
tzdata==2025.2

# Django development tools
django-debug-toolbar==6.0.0

# Django REST Framework and extensions
djangorestframework==3.16.0
django-filter==25.1
djangorestframework_simplejwt==5.5.1

# Authentication and JWT
PyJWT==2.10.1

# Markdown support
Markdown==3.8.2

# Image processing
pillow==11.3.0
