<!-- blog/templates/blog/profile.html -->
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>Profile</h2>
        <form method="post" class="profile-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
{% endblock %}